.add {
  height: 262px;
  width: 210px;
  font-size: 174px;
  color: rgb(200, 200, 200);
  background-color: rgb(245, 245, 245);
  border: 10px double rgb(200, 200, 200);
  border-radius: 4%;
  box-sizing: border-box;
}

.add:hover {
  cursor: pointer;
  border: 6px solid rgb(255, 158, 61);
}
