.card {
  height: 262px;
  width: 210px;
  background-color: white;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4%;
  overflow: hidden;
  box-sizing: border-box;
}

.card.selected {
  border: 6px solid rgb(240, 20, 20) !important;
}

.card:hover {
  cursor: pointer;
  border: 6px solid rgb(255, 158, 61);
}

.card__item-image-wrapper {
  height: 80%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.card__item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__item-name {
  height: 20%;
  font-size: 18px;
}
